:root {
	--font-main: 'Lab Grotesque';

	--def-width: 1200px;
	--def-padding: 16px;

	--page-bg: #fff;
	--text-color: #262540;
	--link-color: #F7AC00;

	--color-red: #E74341;
}

* {
	box-sizing: border-box !important;
	background-repeat: no-repeat !important;
	word-break: break-word !important;
	color: var(--text-color);
}

a:focus-visible {
	outline: 1px solid var(--text-color);
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'Lab Grotesque';
	background-color: #FFFFFF;

	* {
		font-family: 'Lab Grotesque';
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0%;
		color: var(--text-color);
	}

	b {
		font-weight: bold;
		display: contents;
	}
}

.no-scroll {
	overflow-y: hidden !important;
}

h1,
.h1 {
	font-weight: 900;
	font-style: Black;
	font-size: 30px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;

	* {
		font-weight: 900;
		font-style: Black;
		font-size: 30px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

.uppercase {
	text-transform: uppercase;

	* {
		text-transform: uppercase;
	}
}

h2,
.h2 {
	font-weight: 900;
	font-style: Black;
	font-size: 24px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;

	* {
		font-weight: 900;
		font-style: Black;
		font-size: 24px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

.def_title {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	.button_v2,
	.button {
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		height: 50px;
		padding: 14px;
		max-width: 193px;
	}

	&.v2 {
		align-items: start;
		flex-wrap: wrap;

		@media (max-width: 500px) {
			margin-bottom: 20px;
		}
	}

	&.v3 {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.button_v2,
.button {
	&.v3 {
		max-width: 171px;
		height: 50px;
		font-family: Manrope;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		margin: 40px auto 0;
	}
}

@media (max-width: 960px) {
	.def_title {

		.button_v2,
		.button {
			display: none;
		}
	}
}

h1.title {
	margin: 0 auto 30px;
	width: 100%;
	max-width: calc(var(--def-width) + var(--def-padding) + var(--def-padding));
	padding: 0 var(--def-padding);

	&.margin-top {
		margin-top: 40px;
	}
}



@media (max-width: 720px) {
	h1.title.margin-top {
		margin-top: 0px;
	}
}

.h1.title {
	margin: 0 auto 30px;
	width: 100%;
	max-width: calc(var(--def-width) + var(--def-padding) + var(--def-padding));
}

h3,
.h3 {
	font-weight: 900;
	font-style: Black;
	font-size: 20px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;

	* {
		font-weight: 900;
		font-style: Black;
		font-size: 20px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

h4,
.h4 {
	font-weight: 900;
	font-style: Black;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;

	* {
		font-weight: 900;
		font-style: Black;
		font-size: 18px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

h5,
.h5 {
	font-weight: 900;
	font-style: Black;
	font-size: 16px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;

	* {
		font-weight: 900;
		font-style: Black;
		font-size: 16px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

h6,
.h6 {
	font-weight: 900;
	font-style: Black;
	font-size: 14px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;

	* {
		font-weight: 900;
		font-style: Black;
		font-size: 14px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

@media (max-width: 500px) {

	body * {
		font-size: 16px;
	}

	h1,
	.h1 {
		font-size: 24px;

		* {
			font-size: 24px;
		}
	}

	h2,
	.h2 {
		font-size: 20px;

		* {
			font-size: 20px;
		}
	}

	h3,
	.h3 {
		font-size: 18px;

		* {
			font-size: 18px;
		}
	}

	h4,
	.h4 {
		font-size: 16px;

		* {
			font-size: 16px;
		}
	}

	h5,
	.h5 {
		font-size: 14px;

		* {
			font-size: 14px;
		}
	}

	h6,
	.h6 {
		font-size: 12px;

		* {
			font-size: 12px;
		}
	}
}

a {
	text-decoration: none;
	transition: .5s;
	cursor: pointer;
}

a:hover {
	transition: .5s;
	color: var(--link-color);
}

main {
	padding: 0;
	margin: 0;
	position: relative;
}

.padding {
	padding: 0 var(--def-padding);
}

.flex {
	display: flex;
}

.flex-direct {
	flex-direction: column;
}

.smooth {
	transition: .5s;
}

.smooth:hover {
	transition: .5s;
}

.def_div {
	width: 100%;
	max-width: var(--def-width);
	margin: 0 auto;
}

.button {
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: center;
	color: #534CCA;
	min-height: 50px;
	width: 100%;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #CDCEFF;
	background-color: #FFF;
}

.button:hover:not(:disabled) {
	background-color: #534CCA;
	border: 1px solid #534CCA;
	color: #FFF !important;
	transition: .5s;
}

.button_v2 {
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: center;
	color: #FFF;
	min-height: 50px;
	width: 100%;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #534CCA;
	background-color: #534CCA;
}

.button_v2:hover:not(:disabled) {
	background-color: #FFF;
	transition: .5s;
	color: #534CCA;
	border: 1px solid #CDCEFF;
}

.button_v3 {
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: center;
	color: #FFF;
	min-height: 50px;
	width: 100%;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #534CCA;
	background-color: #FFF;
}

.button_v3:hover:not(:disabled) {
	background-color: #534CCA;
	transition: .5s;
	color: #FFF;
	border: 1px solid #534CCA;
}

.button_v4 {
	font-weight: 900;
	font-style: Black;
	font-size: 16px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #FFF;
	min-height: 70px;
	width: 100%;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #F7AC00;
	background-color: #F7AC00;
}

.button_v4:hover:not(:disabled) {
	background-color: #534CCA;
	transition: .5s;
	color: #FFF;
	border: 1px solid #534CCA;
}

.button_v5 {
	font-weight: 900;
	font-style: Black;
	font-size: 16px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #FFF;
	min-height: 70px;
	width: 100%;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #534CCA;
	background-color: #534CCA;
}

.button_v5:hover:not(:disabled) {
	background-color: #F7AC00;
	transition: .5s;
	color: #FFF;
	border: 1px solid #F7AC00;
}

button:disabled {
	opacity: .6 !important;
	cursor: default !important;
}

.invise:not(h1) {
	display: none !important;
	height: 0 !important;
	width: 0 !important;
}

h1.invise {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	min-height: 0;
	min-width: 0;
	max-width: 0;
	max-height: 0;
}

.no_vis {
	opacity: 0;
}

.default {
	width: 100%;
	max-width: var(--def-width);
	margin: 0 auto 60px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 720px) {
	.default {
		margin-bottom: 40px;
	}
}

.default a {
	color: var(--link-color);
	text-decoration: underline;
	display: inline-block;
}

.default ul {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.default ol {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 0;
}

.default ul li {
	list-style: disc;
}

.default ul li::marker {
	color: #0D1011;
}

.default table {
	width: 100%;
}

.default caption {
	border-bottom: none;
	background-color: #725E51;
}

.default thead th {
	background-color: #725E51;
}

.default tbody td {
	background-color: #E4E2DE;
	text-align: center;
}

.fancybox-button *,
.fancybox-infobar * {
	color: #FFF !important;
}

.fancybox-caption__body {
	color: #FFF;
}

.bread {
	width: 100%;
	position: relative;
	z-index: 1;

	ul {
		display: flex;
		gap: 8px;
		align-items: center;
		flex-wrap: wrap;
		padding: 24px 0;
		width: 100%;
		max-width: var(--def-width);

		li {
			font-weight: 400;
			font-style: Regular;
			font-size: 14px;
			leading-trim: NONE;
			line-height: 100%;
			letter-spacing: 0%;
			color: #90A0C4;
			display: flex;
			align-items: center;

			svg {
				max-width: 12px;
				max-height: 12px;
				min-height: 12px;
				min-width: 12px;
			}

			a {
				font-weight: 400;
				font-style: Regular;
				font-size: 14px;
				leading-trim: NONE;
				line-height: 100%;
				letter-spacing: 0%;
				color: #90A0C4;
			}

			a:hover {
				color: var(--link-color);
			}
		}
	}
}

@media (max-width: 500px) {
	.bread {

		ul {
			overflow-x: scroll;
			flex-wrap: nowrap;

			li {
				white-space: nowrap;

				a {
					white-space: nowrap;
				}
			}
		}
	}
}

[data-href] {
	cursor: pointer;
}

.sw_cont {
	position: relative;
}

#load-svg {
	position: fixed;
	transition: 0.5s;
	z-index: 1001;
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3607843137);
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
}

#load-svg svg {
	max-width: 64px;
	max-height: 64px;
	min-height: 64px;
	min-width: 64px;
}

#load-svg.open {
	visibility: visible;
	opacity: 1;
}

.overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: #1622304D;
	opacity: 0;
	visibility: hidden;
	z-index: 11;
	transition: 0.5s;
}

.overlay.open {
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

.popupCheck {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: max-content;
	padding: 0 20px;
}

.popupCheck .popup__container {
	display: flex;
	flex-direction: column;
	width: auto;
	position: relative;
	background-color: #FFF;
	border-radius: 8px;
	width: 100%;
	max-width: 400px;
	padding: 40px 20px 20px;
	max-height: 70vh;
	overflow-y: scroll;
}

.popupCheck .popup__container h2,
.popupCheck .popup__container .h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 28.8px;
	text-align: left;
	margin-bottom: 15px;
	text-align: center;
}

.popupCheck .popup__container p:not(.checkbox p) {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	text-align: left;
	margin-bottom: 20px;
}

.popupCheck .popup__container span,
.popupCheck .popup__container span a {
	font-size: 12px;
	font-weight: 400;
	line-height: 19.6px;
	text-align: left;
}

.popupCheck .popup__container span a {
	text-decoration: underline;
}

.popupCheck .popup__container span {
	margin-bottom: 10px;
}

.popupCheck .popup__container .close-btn {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 3;
	cursor: pointer;
	width: 25px;
	height: 25px;

	path {
		transition: .5s;
	}
}

.popupCheck .popup__container .close-btn:hover path {
	opacity: 0.5;
}

.popupCheck.open {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

@media (min-width: 991px) {
	.popupCheck .popup__container {
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.popupCheck .popup__container::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.checkbox .check {
	display: none !important;
}

.checkbox.checked .check {
	display: block !important;
}

.checkbox.checked .check-box-btn {
	background-color: #ffffff00;
}

.checkbox {
	margin-top: 15px;
	display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 15px;
}

.checkbox .check-box-btn {
	max-width: 16px;
	max-height: 16px;
	min-height: 16px;
	min-width: 16px;
	border-radius: 4px;
	cursor: pointer;
}

.checkbox .check-box-btn {
	box-shadow: 0px 1px 3px 0px #00000033 inset;
}

.checkbox .check-box-btn .check {
	width: 100%;
	height: 100%;
}

.checkbox.checked .check-box-btn {
	border: none;
}

.checkbox.err .check-box-btn {
	background-color: var(--color-red);
	opacity: .7;
}

.checkbox p {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0%;
	color: #50576B;
}

.checkbox p * {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0%;
	color: #50576B;
}

.checkbox p a:hover {
	color: var(--link-color) !important;
}

.sogl {
	position: fixed;
	bottom: 51px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFFFFF;
	width: 100%;
	max-width: 980px;
	transition: 0.5s;
	display: flex;
	padding: 30px 24px;
	/* height: 80px; */
	z-index: 10000;
	border-radius: 8px;
}

.sogl * {
	color: #262540;
}

.sogl .cont {
	width: 100%;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.sogl .cont p {
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	text-align: left;
	max-width: 749px;
}

.sogl .cont p a {
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	text-align: left;
}

.sogl .cont .button {
	max-width: 163px;
	background-color: #F7AC00;
	border: none;
	min-height: 56px;
	border-radius: 12px;
	font-family: Lab Grotesque;
	font-weight: 700;
	font-style: Bold;
	font-size: 16px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0px;
	opacity: 1;
	transition: .5s;
	color: #FFF;

	&:hover {
		transition: .5s;
		background-color: #6461E2;
	}
}

@media (max-width: 720px) {
	.sogl .cont {
		flex-direction: column;
	}

	.sogl {
		bottom: 0;
	}

	.sogl .cont .button {
		max-width: none;
	}

	.sogl .cont p a,
	.sogl .cont p {
		font-size: 16px;
		font-weight: 400;
		line-height: 22.4px;
		text-align: left;
	}

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 !important;
}

.sw-pagination {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	bottom: 12px !important;

	* {
		transition: .5s;
	}

	.swiper-pagination-bullet {
		background: #FFFFFF80;
		max-width: 8px;
		max-height: 8px;
		min-height: 8px;
		min-width: 8px;
		opacity: 1;
		border-radius: 50px;

		&.swiper-pagination-bullet-active {
			min-width: 16px;
			max-width: 16px;
			background: #FFFFFF;
		}
	}
}

@media (max-width: 720px) {
	.sw-pagination {
		bottom: 19px !important;
	}
}

.sw-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: .5s;
	max-width: 40px;
	max-height: 40px;
	min-height: 40px;
	min-width: 40px;
	z-index: 1;
	left: 30px;

	* {
		transition: .5s;
	}

	&:hover {
		transition: .5s;

		rect {
			fill: #534CCA;
		}

		path {
			stroke: #FFF;
		}
	}

	&.sw-next-btn {
		right: 30px;
		left: auto;
	}
}

.btn-cont {
	display: flex;
	margin: 30px 0 0;
	width: 100%;
	position: relative;
	z-index: 1;

	.button {
		width: fit-content;
		padding: 16px 20px;
		font-weight: 900;
		font-style: Black;
		font-size: 14px;
		leading-trim: NONE;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid #90A0C4;
		color: #90A0C4;
		margin: 0 auto;
		cursor: pointer;

		&:hover {
			background-color: #90A0C4;
			color: #FFF;
			border: 1px solid #90A0C4;
		}
	}
}


[data-accordion-item] [data-accordion-toggle] {
	cursor: pointer;
	transition: all 0.3s ease;
}

[data-accordion-item] [data-accordion-toggle] svg {
	transition: transform 0.3s ease;
}

[data-accordion-item].active [data-accordion-toggle] svg {
	transform: rotate(315deg);
}

[data-accordion-item] [data-accordion-content] {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

[data-accordion-item] [data-accordion-content].active {
	max-height: 2000px;
}

.data-title {
	font-weight: 900;
	font-style: Black;
	font-size: 14px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0px;
	margin-bottom: 20px;
	color: #90A0C4;
}

.video_v1 {
	position: relative;
	cursor: pointer;
	display: block;


	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url('../img/Play.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		min-width: 48px;
		min-height: 48px;
		max-width: 48px;
		max-height: 48px;
		z-index: 3;
		transition: .5s;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #00000000;
		transition: .5s;
		z-index: 2;
	}

	&:hover {
		&::before {
			transform: translate(-50%, -50%) scale(1.1);
		}

		&::after {
			background-color: #00000065;
		}
	}
}