.about-answers {
    max-width: 789px;
    padding: 60px 0;

    h2 {
        font-size: 24px;
        color: #90A0C4;
        margin-bottom: 32px;
        text-align: center;
    }
}

.docs-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
        a {
            display: flex;
            gap: 12px;
            align-items: center;

            img {
                max-width: 30px;
                max-height: 30px;
                min-height: 30px;
                min-width: 30px;
                object-fit: contain;
                object-position: center;
            }

            .h3 {
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                border-bottom: 1px dotted #534CCA;
            }
        }
    }
}

.about-answers-flex-column {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &.v2 {
        gap: 20px;

        .about-answers-flex-column-item {
            min-height: 60px;
            transition: .5s;
            overflow: hidden;

            .about-answers-flex-column-item-bottom {
                
            }

            &.active {
                padding-bottom: 20px;
                background-color: #6461E20D;

            }

            .about-answers-flex-column-item-top.active {
                margin-bottom: 16px;

                .h3 {
                    color: var(--text-color);
                    font-weight: 900;
                }

                svg {
                    path {
                        stroke: #534CCA;
                    }
                }
            }
        }
    }
}

.about-answers-flex-column-item {
    background-color: #FFF;
    padding: 14px 20px;
    border: 1px solid #CDCEFF;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.about-answers-flex-column-item.active {
    padding-bottom: 40px;
}

.about-answers-flex-column-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: auto 0;
}

.about-answers-flex-column-item-top.active {
    margin-bottom: 30px;

    .h3 {
        color: var(--link-color);
    }

    svg {
        path {
            stroke: var(--link-color);
        }
    }
}

.about-answers-flex-column-item-top .h3 {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
}

.about-answers-flex-column-item-top svg {
    max-width: 30px;
    max-height: 30px;
    min-height: 30px;
    min-width: 30px;
}

.about-answers-flex-column-item-bottom {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease !important;
    transform: translateY(30px);
}

.about-answers-flex-column-item-bottom.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.about-answers-flex-column-item-bottom .default {
    margin: 0;
    gap: 16px;
}

@media (max-width: 500px) {
    .about-answers-section {
        padding: 0;
    }

    .about-answers {
        h2 {
            padding: 0 var(--def-padding);
        }
    }

    .about-answers-flex-column {
        &.v2 {
            gap: 10px;

            .about-answers-flex-column-item {
                min-height: auto;
                padding: 15px 12px;

                &.active {
                    padding-bottom: 12px;
                }

            }
        }
    }


    .about-answers-flex-column-item {
        padding: 12px 20px;
        min-height: auto;
    }

    .about-answers-flex-column-item.active {
        padding-bottom: 20px;
    }

    .about-answers-flex-column-item-top .h3 {
        font-size: 14px;
    }
}