.about-content {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    margin-top: 40px;
    width: 100%;
}

.about-menu {
    width: 100%;
    max-width: 276px;
    height: fit-content;
    padding: 35px 20px;
    background-color: #5E52FF0D;

    ul {
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {

            &.active {
                a {
                    color: #534CCA;
                }
            }

            a {
                font-weight: 900;
                font-style: Black;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0px;
                text-transform: uppercase;
                color: #90A0C4;

                &:hover {
                    color: #534CCA;
                }
            }
        }
    }
}

.about-content-item {
    width: 100%;

    span {
        color: #90A0C4;
    }

    .default {
        margin: 0;
        margin-bottom: 30px;
        gap: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #CDCEFF;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        span {
            font-weight: 900;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        a {
            color: var(--text-color);
            text-decoration: none;

            &:hover {
                color: var(--link-color);
            }
        }
    }
}

@media (max-width: 970px) {
    .about-menu {
        display: none;
    }
}

@media (max-width: 500px) {
    .about-content {
        margin-top: 20px;
    }
}