.almanac-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.almanac-content-container {
    width: 100%;
}

.almanac-content-item {
    width: 100%;
    max-width: none;
    border: none;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    min-height: 40px;
    padding: 0;
    color: var(--text-color);
    background-color: #534CCA0D;
    border-radius: 5px;
    border: 1px solid #534CCA0D;
    padding: 5px 10px;

    &.active {
        background-color: #534CCA;
        color: #FFF;
        border: 1px solid #534CCA;
    }

    &:hover {
        background-color: #534CCA;
        color: #FFF;
        border: 1px solid #534CCA;
    }
}

@media (max-width: 720px) {
    .almanac-content-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}