.events-detail-content-item {
    width: 100%;
}

.events-detail-images-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.events-detail-image-container {
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 720px) {
    .events-detail-images-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}