.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.events-grid-item {
    border-bottom: 1px solid #CDCEFF;
    border-left: 1px solid #CDCEFF;
    transition: .5s;

    &:nth-child(3n) {
        border-right: 1px solid #CDCEFF;
    }

    &:not(:nth-child(n+4)) {
        border-top: 1px solid #CDCEFF;
    }

    &:last-child {
        border-right: 1px solid #CDCEFF;
    }

    * {
        transition: .5s;
    }

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 30px;

    .button {
        border: 1px solid #90A0C4;
        border-radius: 5px;
        font-weight: 900;
        font-style: Black;
        font-size: 12px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        margin-top: auto;
        color: #90A0C4;
        min-height: 40px;

        &:hover {
            background-color: #90A0C4;
            color: #FFF;
            border: 1px solid #90A0C4;
        }
    }

    &:hover {
        background: #F4F7FF;
    }
}

.events-grid-item-image {
    aspect-ratio: 258/210;
    object-fit: cover;
    object-position: center;
}

.events-grid-item-content-title {
    font-weight: 900;
    font-style: Black;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0px;
    color: #534CCA;
}

@media (max-width: 720px) {
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .events-grid-item {
        &:nth-child(3n) {
            border-right: none;
        }

        &:not(:nth-child(n+4)) {
            border-top: none;
        }

        &:last-child {
            border-right: none;
        }

        &:nth-child(2n) {
            border-right: 1px solid #CDCEFF;
        }

        &:not(:nth-child(n+3)) {
            border-top: 1px solid #CDCEFF;
        }
    }
}

@media (max-width: 500px) {
    .events-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .events-grid-item {
        &:nth-child(3n) {
            border-right: 1px solid #CDCEFF;
        }

        &:not(:nth-child(n+4)) {
            border-top: none;
        }

        border-right: 1px solid #CDCEFF;

        &:not(:nth-child(n+2)) {
            border-top: 1px solid #CDCEFF;
        }

        padding: 16px 16px 20px;

    }

    .events-section {
        padding: 0;

        .h1 {
            padding: 0 var(--def-padding);
        }
    }

    .events-grid-item-content-title {
        font-size: 18px;
    }
}