.main-news {
    padding: 80px 0;
    position: relative;
    z-index: 1;

    h2 {
        font-weight: 900;
        font-style: Black;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
}

.main-news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-news-grid-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    outline: 1px solid #CDCEFF;
    background-color: #FFF;
    transition: .5s;

    * {
        transition: .5s;
    }

    &:hover {
        background-color: #534CCA;

        .main-news-grid-item-content-date,
        .main-news-grid-item-content-title {
            color: #FFF;
        }
    }
}

.main-news-grid-item-image {
    aspect-ratio: 340/276;
    object-fit: cover;
    object-position: center;
}

.main-news-grid-item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-news-grid-item-content-date {
    font-weight: 900;
    font-style: Black;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    color: #90A0C4;
}

.main-news-grid-item-content-title {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0px;
}

@media (max-width: 970px) {
    .main-news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .main-news-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .main-news {
        padding: 60px 0 80px;
        background-color: #FFF;

        h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }

    .main-news-grid-item {
        padding: 30px 24px;
    }
}