.main-content-section {
    background-color: #FAF6FF;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('.././img/back-svg-2.svg');
        background-size: 540px 540px;
        background-repeat: repeat !important;
        background-position: -19px -35px;
        opacity: .05;
    }
}

.main-about {
    display: flex;


    .left {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 34px;
        background-color: #6461E2;
        padding: 30px;
        max-width: 278px;
        width: 100%;
        position: relative;
        z-index: 1;

        a {
            font-weight: 900;
            font-style: Black;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0px;
            text-transform: uppercase;
            color: #FFF;

            &:hover {
                color: var(--link-color);
            }
        }
    }
}

.aboutSwiper {
    height: auto;
    width: 100%;
    position: relative;

    .swiper-slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sw-pagination {
        bottom: 18px !important;
    }
}

@media (max-width: 970px) {
    .main-about {
        flex-direction: column-reverse;

        .left {
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            li {
                margin: 0 auto;
            }
        }
    }

    .aboutSwiper {
        .swiper-slide {
            aspect-ratio: 375/219;
        }
    }
}

@media (max-width: 720px) {
    .main-about {
        .left {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 500px) {
    .main-about {
        .left {
            grid-template-columns: repeat(1, 1fr);

            li {
                margin: 0;
            }
        }
    }
}