.main-advantages {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 52px;

    h2 {
        font-weight: 900;
        font-style: Black;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        text-align: center;
    }
}

.main-advantages-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.main-advantages-grid-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-advantages-grid-item-icon {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    min-width: 100px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

.main-advantages-grid-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .h3 {
        font-weight: 900;
        font-style: Black;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #534CCA;
    }

    .default {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 970px) {
    .main-advantages-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .main-advantages-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .main-advantages {
        padding: 0 0 80px;

        h2 {
            font-size: 24px;
        }
    }

    .main-advantages-grid {
        gap: 40px;
    }

    .main-advantages-grid-item-icon {
        max-width: 80px;
        max-height: 80px;
        min-height: 80px;
        min-width: 80px;
    }

}