.partners-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.partners-content-top {
    display: flex;
    align-items: center;
    gap: 30px;

    img {
        width: 100%;
        max-width: 200px;
        object-fit: contain;
        object-position: center;
    }

    .h2 {
        font-weight: 900;
        font-style: Black;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 140%;
        letter-spacing: 0%;
    }
}

.partners-content-bottom-img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 720px) {
    .partners-content-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .partners-content-top {
        gap: 30px;
    
        img {
            max-width: 147px;
        }
    
        .h2 {
            font-size: 14px;
        }
    }
}